body{
    background-color: rgb(123, 213, 240);
}
main{
    margin: 100px auto;
    text-align: center;
    justify-content: center;
}
button{
    padding: 15px;
    border-radius: 30px;
}
button:hover{
    background: black;
    color: white;
}